beautifulsoup4==4.8.2
cpe==1.2.1
python-dotenv==0.15.0
requests==2.24.0
redis==3.5.3
redisearch==2.0.0
jsonpickle==2.0.0
ujson==5.2.0
famapy==0.2.0
famapy-fm==0.2.0
famapy-sat==0.2.0
antlr-ast==0.8.1
antlr4-python3-runtime==4.7.2
